
@{
    ViewData["Title"] = "Erişim Engelendi";
}

<div class="alert alert-danger mt-lg-5">
    <h3>Erişim Engelendi</h3>
    <h6>Ulaşmaya Çalıştığınız Alan İçin Erişim Yetiniz Bulunmamaktadır!</h6>
</div>


